# Project exclude paths
/.gradle/
/app/build/classes/
/app/build/generated/not_namespaced_r_class_sources/
/app/build/intermediates/annotation_processor_list/
/app/build/intermediates/apk_list/
/app/build/intermediates/blame/
/app/build/intermediates/build-info/
/app/build/intermediates/compatible_screen_manifest/
/app/build/intermediates/incremental/
/app/build/intermediates/incremental-classes/
/app/build/intermediates/incremental-runtime-classes/
/app/build/intermediates/incremental-verifier/
/app/build/intermediates/instant-run-apk/
/app/build/intermediates/instant_run_main_apk_resources/
/app/build/intermediates/instant_run_merged_manifests/
/app/build/intermediates/instant_run_split_apk_resources/
/app/build/intermediates/javac/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/app/build/intermediates/manifest-checker/
/app/build/intermediates/merged_manifests/
/app/build/intermediates/processed_res/
/app/build/intermediates/res/
/app/build/intermediates/resources/
/app/build/intermediates/split-apk/
/app/build/intermediates/split_list/
/app/build/intermediates/symbols/
/app/build/intermediates/transforms/
/app/build/kotlin/
/app/build/libs/
/app/build/outputs/
/app/build/reports/
/app/build/tmp/